<div class="section_menu">
    <div class="mnu_fixed">
        <div class="mnu_wave"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="mnu mnu_mobile hidden-lg hidden-md">
                        <div class="icon_shop hidden-lg hidden-md">
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                        <div class="input_search hidden-lg hidden-md">
                            <input type="text" placeholder="Search...">
                            <a class="btnsearch" href="#"><i class="fa fa-search"></i></a>
                        </div>
                        <div class="toggle_block hidden-lg hidden-md">
                            <a href="#" class="toggle-mnu"><span></span></a>
                        </div>
                    </div>
                    <div class="logo_block">
                        <img src="img/header/logo.png" alt="">
                    </div>
                    <div class="icon_shop hidden-sm hidden-xs">
                        <a href="shop_cart.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div class="search hidden-sm hidden-xs">
                        <div class="icon_search hidden-sm hidden-xs">
                            <a class="btnopen" href="#"><i class="fa fa-search"></i></a>
                        </div>
                        <div class="input_search">
                            <input type="text" placeholder="Search...">
                            <a class="btnclose" href="#">×</a>
                            <a class="btnsearch" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="mnu hidden-sm hidden-xs">
                        <ul>
                            <li class="drop1"><a href="index.html" class="active">Home</a>
                            </li>
                            <li class="drop2"><a  href="about_us.html">About us</a>
                                <ul class="mnu_child">
                                    <li><a href="teachers.html">Teachers</a></li>
                                    <li><a href="teacher.html">Teacher</a></li>
                                </ul>
                            </li>
                            <li class="drop3"><a href="service_v1.html">Services</a>
                                <ul class="mnu_child">
                                    <li><a href="service_v2.html">Version 2</a></li>
                                </ul>
                            </li>
                            <li class="drop4"><a href="javascript:void(0);">Page</a>
                                <ul class="mnu_child">
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="event.html">Event</a></li>
                                    <li><a href="price-table_a.html">Price V1</a></li>
                                    <li><a href="price-table_b.html">Price V2</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="reviews.html">Reviews</a></li>
                                    <li><a href="FAQ.html">FAQ</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="drop5"><a href="blog.html">Blog</a>
                                <ul class="mnu_child">
                                    <li><a href="blog_article.html">Post</a></li>
                                </ul>
                            </li>
                            <li class="drop6"><a href="shop_grid.html">Shop</a>
                                <ul class="mnu_child">
                                    <li><a href="shop_list.html">Version 2</a></li>
                                    <li><a href="shop_item.html">
                                            Item page</a></li>
                                    <li><a href="shop_cart.html">Cart</a></li>
                                    <li><a href="shop_cart_empty.html">Cart Empty</a></li>
                                </ul>
                            </li>
                            <li class="drop7"><a href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 top_mnu">
                    <div class="mobile_mnu">
                        <ul>
                            <li class="drop1"><a href="index.html">Home</a>
                            </li>
                            <li class="drop2"><a class="drop2_mnu" href="#">About us</a>
                                <ul class="mnu_child drop_mnu2">
                                    <li><a href="about_us.html">About us</a></li>
                                    <li><a href="teachers.html">Teachers</a></li>
                                    <li><a href="teacher.html">Teacher</a></li>
                                </ul>
                            </li>
                            <li class="drop3"><a class="drop3_mnu" href="#">Services</a>
                                <ul class="mnu_child drop_mnu3">
                                    <li><a href="service_v1.html">Version 1</a></li>
                                    <li><a href="service_v2.html">Version 2</a></li>
                                </ul>
                            </li>
                            <li class="drop4"><a class="drop4_mnu" href="#">Page</a>
                                <ul class="mnu_child drop_mnu4">
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="event.html">Event</a></li>
                                    <li><a href="price-table_a.html">Price V1</a></li>
                                    <li><a href="price-table_b.html">Price V2</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="reviews.html">Reviews</a></li>
                                    <li><a href="FAQ.html">FAQ</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="drop5"><a class="drop5_mnu" href="#">Blog</a>
                                <ul class="mnu_child drop_mnu5">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog_article.html">Post</a></li>
                                </ul>
                            </li>
                            <li class="drop6"><a class="drop6_mnu" href="#">Shop</a>
                                <ul class="mnu_child drop_mnu6">
                                    <li><a href="shop_grid.html">Version 1</a></li>
                                    <li><a href="shop_list.html">Version 2</a></li>
                                    <li><a href="shop_item.html">
                                            Item page</a></li>
                                    <li><a href="shop_cart.html">Cart</a></li>
                                    <li><a href="shop_cart_empty.html">Cart Empty</a></li>
                                </ul>
                            </li>
                            <li class="drop7"><a href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
